
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #1a1a1a);
}

.player-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: #282828;
    width: 80%; // Adjust width as needed
    max-width: 300px; // Adjust max-width as needed
}


.cover-art img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.song-info {
    color: #fff;
    margin-bottom: 10px;
}

.progress-bar {
    width: 90%;
    height: 5px; // Increased height for wider progress bar
    background: #444;
    position: relative;
    margin-bottom: 15px; // Adjusted margin for spacing
}

.progress-bar div {
    height: 100%;
    background: #1DB954;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    width: 40px; // Assign a specific width
    text-align: center;
    flex-shrink: 0; // Prevent shrinking
}

button:hover {
    color: #1DB954;
}

button:hover {
    color: #1DB954;
}
.footer {
    text-align: center;
    padding: 10px;
    margin-top:50%!important;
    background-color: transparent;
    color: grey;
    font-size: 8px!important;
    width: 100%;
}