<div class="player-container" [style.background]="playerStyle">
    <div class="cover-art">
        <img #coverArt [src]="songs[currentIndex].cover" alt="Cover Art" (load)="onCoverArtLoad()">
    </div>
    <div class="controls-container">
        <div class="song-info">
            {{ songs[currentIndex].title }}
            <div class="artist-name">
                <span class="scrolling">{{ songs[currentIndex].artist }}</span>
            </div>
        </div>
        <!-- <input #seekBar type="range" class="seek-bar" min="0" [max]="duration" [value]="currentTime" (input)="seekTo($event)"> -->
        <div class="time-and-progress">
            <input #seekBar type="range" class="seek-bar" min="0" [max]="duration" [value]="currentTime" (input)="seekTo($event)">
            <div class="timestamps">
                <span class="current-time">{{ formatTime(currentTime) }}</span>
                <span class="total-duration">{{ formatTime(duration) }}</span>
            </div>
        </div>

        <div class="buttons">
            <button (click)="previous()">
                <i class="fas fa-backward"></i>
            </button>
            <button (click)="playPause()">
                <i class="fas" [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"></i>
            </button>
            <button (click)="next()">
                <i class="fas fa-forward"></i>
            </button>
        </div>
    </div>
</div>







